*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.container{
    width: 100%;
    background: url(/image/hero-background.jpg);
    background-size: cover;
    background-position: center 1600px;
}

/* navbar stasrt */

.nav{
    width: 70%;
    margin: auto;
    /* background: lightcoral; */
    padding: 20px 0;
    display: flex;
    /* position: sticky; */
    top: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
  
}


.logo h1{
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 10px;
    font-size: 40px;
}

.logo h1 span{
    color: #ff4c4c;
    padding-left: 0;
    display: inline;
}
    
.nav ul li{
    list-style: none;
}
.nav ul li{
    display: inline;
    margin-left: 70px;
    /* border: 1px solid black; */
    padding: 10px;
    
}

.nav span{
    display: none;
    
   
}


.nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    scroll-behavior: smooth;
}

.nav ul li a:hover{
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    color: #DDDDDD;
    
}

/* navbar end */

/* hero start */

.hero{
    text-align: center;
    margin-top: 250px;
   padding-bottom: 280px;
}

.hero .job {
   font-size: 25px;
   font-family: "Oswald", sans-serif;
   color: #DDDDDD;
   word-spacing: 2px;
   margin: 0 0 0 ;
   
}

.hero span{
    font-size: 80px;
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: -2px;
    
    animation: text-flicker-in-glow 4s linear both;
  }



@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}


 
  .hero p{
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      margin: 0 0 50px;
      color: #DDDDDD;
  }
  
  .hero .icons i {
      font-size: 25px;
      color: #ffffff;
      padding: 10px;
  }

  .content{
    width: 100%;
    background: black;
  }


/* hero end */

  /* about start */
  .about{
   
    align-items: center;
    padding: 50px;
    
  }

  .us{
   
    text-align: center;
  }

  .us h3{
    color: white;
    padding: 10px 0;
    font-family: "Open Sans", sans-serif;
  }

  .us h2{
    font-size: 32px;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    margin: 0 0 10px;
  }

  .us p{
    font-size: 15px;
    margin: 0 0 15px;
    color: #BBBBBB;
    font-family: "Open Sans", sans-serif;
  }


  .image{
    height: 700px;
    width: 700px;
    /* background: lightcyan; */
    padding: 0 15px;
  }

  .image img{
    width: 100%;
    /* height: 100%; */
  }

  .us button a{
    text-decoration: none;
    color: #DDDDDD;
    font-size: 15px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    transition: .45s;
  }

  .us button{
    background: #ff4c4c;
    padding: 10px 25px;
    margin: 20px 0 0;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
  }

  .us button::after{
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    border-radius: 5px;
    width: 100%;
    background: white;
    z-index: -1;
    transition: .45s;
  }

  .us button:hover a{
    color: black;
  }

  .us button:hover::after{
    right: 0;
  }
    

  /* about end */

  .work{
    padding-top: 100px;
    
    width: 90%;
    
    background: lightblue;
    margin: 50px auto;
    /* padding-bottom: 280px; */
    background-color: black;
    margin-bottom: 50px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  /* .work-info{
    width: 385px;
  } */


  .work-info h2{
    font-size: 82px;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    margin: 0 0 10px;
  }

  .work-info p{
    font-size: 15px;
    margin: 0 0 15px;
    color: #BBBBBB;
    font-family: "Open Sans", sans-serif;
  }

  .work-info button a{
    text-decoration: none;
    color: #DDDDDD;
    font-size: 15px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    transition: .45s;
  }

  .work-info button{
    padding: 10px 25px;
    background: #ff4c4c;
    border: none;
    margin: 20px 0 0;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }


  .work-info button::after{
   content: "";
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   right: 100%;
   background: white;
   z-index: -1;
   transition: .45s;
   border-radius: 5px;
  }

  .work-info button:hover::after{
    right: 0;
  }
  .work-info button:hover a{
     color: black;
  }

  .project{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .hotel{
    height: 400px;
    width: 400px;
    background: url(/image/bg_2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    
  }

  .hotel::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .7);
    z-index: -1;
    opacity: 0;
    transition: .45s;
  }
  

  .hotel a{
    /* position: absolute;
    top: 0;
    left: 120px; */
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    opacity: 0;
    transition: .45s;
  }


  .hotel:hover::after{
    opacity: 1;
    scale: .9;
    border-radius: 20px;
  }

  .hotel:hover a{
    opacity: 1;
  }

  .hotel h2{
    font-size: 35px;
    margin-top: 170px;
    font-family: "Open Sans", sans-serif;
  }
    

  .hotel p{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
  }

  .liquor{
    height: 400px;
    width: 400px;
    background: url(/image/bg_2.jpg.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    border-radius: 25px;
  }


  .car-rental{
    background: url(../image/Car.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .t-shirt{
    background: url(/image/t-shirt.jpg);
    background-size: cover;
    background-position: center;
  }


  .liquor::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .7);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: .45s;
  }

  .liquor:hover::after{
    opacity: 1;
    scale: .9;
    border-radius: 20px;
  }

  .liquor:hover a{
    opacity: 1;
    position: absolute;
    top: 0;
    left: 80px;
  }


  .liquor h2{
    font-size: 35px;
    margin-top: 170px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: black;
  }

  .liquor span{
    color: rgba(0, 0, 0, .7);
  }

  .liquor a{
    text-decoration: none;
    opacity: 0;
    transition: .45s;
  }
 
  /* work end */

  /* footer start */

  .footer{
    width: 100%;
    /* background: lightblue; */
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contact{
    /* background: lightcoral; */
    width: 700px;
    padding: 10px;
  }

  .contact input{
    height: 50px;
    width: 250px;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }

  ::placeholder{
    font-size: 15px;
    color: white;
  }

  .contact button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    transition: .45s;
  }

  .contact input{
    margin-right: 40px;
  }

  input:focus{
    outline: none;
    /* border: none; */
    color: white;
    font-size: 15px;
  }

  .contact button{
    margin-top: 20px;
    padding: 15px 35px;
    background: #ff4c4c;
    border: none;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
  }

  .contact button:hover::after{
    right: 0;
  }

  .contact button:hover a{
    color: black;
  }


  .contact button::after{
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    background: white;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: .45s;
  }

  .contact h1{
    font-family: "Open Sans", sans-serif;
    color: white;
    margin-bottom: 20px;
  }

  .last button{
   height: 70px;
   width: 70px;
    border-radius: 50%;
    font-size: 20px;
  }

  .last button a{
    
    text-align: center;
  }


  
    
   



  



  









 




      
  




